<p class="text-center">   
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseAdd" aria-expanded="false" aria-controls="collapseAdd">
    New Recipe
  </button>
</p>

<div class="collapse col" id="collapseAdd" style="border: 1px solid black; padding: 20px">
 <div style="text-align: center">
  <form>
      <div>
         <div style="margin: 10px">
      <label>Name</label><div></div>{{input value=name placeholder="Recipe name"}}
        </div>
    <div style="margin: 10px">
      <label>Ingredients</label><div></div>{{textarea value=ingredients placeholder="Ingredients"}}
    </div>
    <div style="margin: 10px">
      <label>ImageURL</label><div></div>{{input value=imageURL placeholder="Image URL"}}
    </div>  

  {{#if imageURL}}
          <img style="width: 125px; height: 125px; margin: 10px 0 10px 0;" src={{imageURL}} > 
  {{else}}
          <img style="width: 125px; height: 125px; margin: 10px 0 10px 0;" src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" > 
  {{/if}}
    
    <div>
       <button type="submit" class="btn btn-success" {{action "addRecipe"}}>Add</button>
    </div>
      </div>
  </form>
</div>
</div>
{{yield}}

